@font-face {
    font-family: 'Day Roman';
    src: url('/fonts/DayRoman.woff2') format('woff2'), url(/fonts/DayRoman.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Macaroni';
    src: url('/fonts/MacaroniRegular.woff2') format('woff2'), url('/fonts/MacaroniRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bacalisties';
    src: url('/fonts/Bacalisties.woff2') format('woff2'), url('/fonts/Bacalisties.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Southland';
    src: url('/fonts/Southland.woff2') format('woff2'), url('/fonts/Southland.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'adelia';
    src: url('/fonts/adelia.woff2') format('woff2'), url('/fonts/adelia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hello Valentica';
    src: url('/fonts/HelloValentica-Regular.woff2') format('woff2'), url(/fonts/HelloValentica-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amarillo';
    src: url('/fonts/Amarillo.woff2') format('woff2'), url('/fonts/Amarillo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saturday';
    src: url('/fonts/SaturdayRegular.woff2') format('woff2'), url('/fonts/SaturdayRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hello';
    src: url('/fonts/HelloRegular.woff2') format('woff2'), url('/fonts/HelloRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beautiful Butterfly';
    src: url('/fonts/BeautifulButterflyRegular.woff2') format('woff2'), url('/fonts/BeautifulButterflyRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.bacalisties {
    font-family: Bacalisties;
}

.dayroman {
    font-family: 'Day Roman';
}

.macaroni {
    font-family: MacaroniRegular;
}

.southland {
    font-family: Southland;
}

.adelia {
    font-family: adelia;
}

.hellovalentica {
    font-family: 'Hello Valentica';
}

.amarillo {
    font-family: Amarillo;
}

.saturday {
    font-family: Saturday;
}

.hello {
    font-family: Hello;
}

.butterfly {
    font-family: 'Beautiful Butterfly';
}

