@page "/contacto"

<link rel="stylesheet" href="./css/custom-fonts.css" />


@using teseractal_web.Components;
@using teseractal_web.Models;
@using System.ComponentModel.DataAnnotations

<PageTitle>teseractal</PageTitle>


@* <MudImage Src="images/logoTeseractal.jpg" Elevation="25" Class="rounded-lg ma-4 foto" />
 *@

<MudGrid>
    <MudItem Class="fullHeightContainer" xs="12">
        <div class="textsLogo">
            <MudList Clickable="true">
                <MudListItem href="tel:+34 618159730" data-rel="external" Text="Ignacio Benito Soto (+34 618159730)" Icon="@Icons.Material.Filled.Phone" IconColor="Color.Primary" />
                <MudDivider />
                <MudListItem href="tel:+34 691715617" data-rel="external" Text="M. Isabel Gallardo D (+34 691715617)" Icon="@Icons.Material.Filled.Phone" IconColor="Color.Primary" />
                <MudDivider />
                <MudListItem Text="teseractal@hotmail.com" Icon="@Icons.Material.Filled.Email" IconColor="Color.Primary" />
            </MudList>
        </div>
    </MudItem>
</MudGrid>

<style>

    .fullHeightContainer {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textsLogo {
        text-align: center;
        margin: 4em;
    }

</style>


